{% extends "index.html" %}


{% block content %}
    <h1 class="text-center">Most Popular Books in the Dataset</h1>
    <ol class="gradient-list">
        {% for authors, title, url in best_books %}
            <li>
                <div class="row vertical-align">
                    <div class="col-md-2">
                        <img src={{url}} alt="book_img" class="img-fluid">
                    </div>
                    <div class="col-md-10">
                        <p style="font-size:21px">{{authors}} with {{title}}</p>
                    </div>
                </div>
            </li>
                      
        {% endfor %}
    </ol>

{% endblock %}
